name: Deploy to Tencent COS

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Set up SDK
        run: |
          pip3 install -U cos-python-sdk-v5

      - name: Upload files to Tencent COS
        run: |
          env
          python3 upload_to_cos.py
        env:
          TENCENT_SECRET_ID: ${{ secrets }}
          TENCENT_SECRET_KEY: ${{ secrets.TENCENT_SECRET_KEY }}
          TENCENT_REGION: ${{ secrets.TENCENT_REGION }}
          TENCENT_BUCKET_NAME: ${{ secrets.TENCENT_BUCKET_NAME }}
        shell: bash
