name: Deploy to Tencent COS

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: github-pages

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Deploy to Tencent Cloud Server
        uses: appleboy/ssh-action@master
        with:
          host: 106.52.199.208
          username: ubuntu
          key: ${{ secrets.OPENSSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/project-flomo
            git pull
            npm run build
